<footer class="footer border-top">
    <div class="container">
      <div class="row">
        <!-- Company Name -->
        <div class="col-md-4 mb-3">
          <h5 class="text-uppercase"><span class="logo">StayFinder</span> <i class="fa-regular fa-compass"></i></h5>
        </div>
        <!-- Social Media Links -->
        <div class="col-md-4 mb-3">
          <h5 class="text-uppercase">Follow Us</h5>
          <a href="#" class="d-block">Facebook <i class="fa-brands fa-facebook"></i></a>
          <a href="#" class="d-block">Twitter <i class="fa-brands fa-twitter"></i></a>
          <a href="#" class="d-block">Instagram <i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="d-block">Linkedin <i class="fa-brands fa-linkedin"></i></a>
        </div>
        <!-- Privacy & Terms -->
        <div class="col-md-4 mb-3">
          <h5 class="text-uppercase">Legal</h5>
          <a href="#" class="d-block">Privacy Policy</a>
          <a href="#" class="d-block">Terms & Conditions</a>
        </div>
      </div>
    </div>
  </footer>
